<!doctype html>
<html>
<head>
    <title>Test web app</title>
</head>
<body>
<div style="position: absolute; /* Абсолютное позиционирование */
    width: auto; /* Ширина слоя в пикселах */
    left: 50%; /* Положение слоя от левого края */
    margin-left: -200px">
    <div align="left" style="">
        <form action="/usercheck" method="post" style="">
            <fieldset>
            <legend>Проверка пользователя в Windows:</legend>
            Имя пользователя: <input type="text" name="username">
            <br><br>
            <input type="submit" value="Проверить" style="margin-right: 10px; float: right;">
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>